*{
    padding: 0;
    margin: 0;
    outline: 0;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6,p,a{
    padding: 0;
    margin: 0;
}
a,a:hover{
    text-decoration: none;
}
.header{
    background-color: #0872b9;
    padding-top: 14px;
}
.right_header ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
}
.right_header ul a{
    color: white;
    padding: 14px;
   
}
.right_header ul a:hover{
    color: black;
}
.left_header p{
    color: white;
    
}
.navbar-nav .nav-item .nav-link{
    font-size: 16px;
     font-family: 'Source Sans Pro', sans-serif;
   
}
.navbar-nav .nav-item .nav-link.active{
 color: #0672B9;
}
.navbar-nav .nav-item .nav-link:hover{
     color: #0672B9;
}
.navbar{
    background-color: white;
}
.banner{
    background: url(../image/Beatles.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.overlaybanner{
    background: rgba(0, 0, 0, .6);
    padding-top: 85px;
    padding-bottom: 100px;
}
.banner_content{
    color: white;
    text-align: end;
}
.banner_content p{
    padding: 30px 0px;
    margin-bottom: 15px;
}
.banner_content a{
    color: white;
     font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
    font-size: 14px;
}
.banner_content h4{
    font-family: 'Oswald', sans-serif;

    text-transform: uppercase;
     font-size: 28px;
    font-weight: 400;
  
  
}
.banner_content h1{
     font-family: 'Oswald', sans-serif;
     text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
}
.banner_content a:nth-last-child(2){
     background-color:#0872b9;
      margin-right: 20px;
     padding: 6px 20px;
   
   
}
.banner_content a:nth-last-child(1){
     border: 1px solid rgba(255, 255, 255, .8);
    padding: 5px 20px;
}
.aboutus_top h2{
     font-family: 'Oswald', sans-serif;
     padding-bottom: 0px;
    font-size: 24px;
    text-align: center;
    font-weight: 500;
    position: relative;
}
.aboutus_top h2:after{
    position: absolute;
    content: "";
    top: 0;
    left: -53px;
    bottom: -38px;
    right: 0;
    margin: auto;
    width: 40px;
    height: 2px;
    background-color: #0872B9;
}
.aboutus_top h2:before{
position: absolute;
    content: "";
    top: 0;
    left: 2px;
    bottom: -38px;
    right: 0;
    margin: auto;
    width: 9px;
    height: 2px;
    background-color: #0872B9;
}
.aboutus_top h2 span:after{
    position: absolute;
    content: "";
    top: 0;
    left: 25px;
    bottom: -38px;
    right: 0;
    margin: auto;
    width: 6px;
    height: 2px;
    background-color: #0872B9;
}
.aboutus_top h2 span:before{
        position: absolute;
    content: "\f2bb";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    top: 0;
    left: 126px;
    bottom: 22px;
    right: 0;
    margin: auto;
    width: 4px;
    height: 2px;
    color: #0872B9;
  
}
.aboutus_top{
    margin: 50px 0px;
}

.about_text p{
   padding: 36px 0px;
    font-size: 15px;
    line-height: 25px;

}
.img_content{
    margin-bottom: 20px;
    
}
.service_top{
    margin:50px 0px;
    margin-bottom: 80px;
}
.service_top h2{
         font-family: 'Oswald', sans-serif;
padding-bottom: 13px;
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
    position: relative;
}
.service_top h2:after{
    position: absolute;
    content: "";
    top: 0;
    left: -92px;
    bottom: -38px;
    right: 0;
    margin: auto;
    width: 40px;
    height: 2px;
    background-color: #0872B9;
}
.service_top h2:before{
position: absolute;
    content: "";
    top: 0;
    left: -35px;
    bottom: -38px;
    right: 0;
    margin: auto;
    width: 9px;
    height: 2px;
    background-color: #0872B9;
}
.service_top h2 span:after{
    position: absolute;
    content: "";
    top: 0;
    left: -12px;
    bottom: -38px;
    right: 0;
    margin: auto;
    width: 6px;
    height: 2px;
    background-color: #0872B9;
}
.service_top h2 span:before{
      position: absolute;
    content: "\f3ec";
    font-family: "Font Awesome 5 Brands";
    font-weight: 400;
    top: 0;
    left: 160px;
    bottom: 55px;
    right: 0;
    margin: auto;
    width: 6px;
    height: 2px;
    color: #F3A950;
    font-size: 34px;
  
}

.img_main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#f1f1f1;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    margin: -40px auto;
        border: 3px solid white;

}
.img_submain{
       background-color:#f1f1f1;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
   transition: all linear .3s;
}

.service_conten{
    background-color: #f1f1f1;
    text-align: center;

    padding: 51px 20px 20px;

}
.final{
    position: relative;

  
}
.img_main{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
       transition: all linear .3s;
}
.service_conten h2{
     font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
     padding-bottom: 20px;
}
.service_conten p{
    font-size: 14px;
    font-weight: 400;
 font-family: 'Open Sans', sans-serif;
    color: #555555;
    line-height: 28px;
  
}
.hovers:hover .service_conten{
    box-shadow: 0px 0px 3px gray;
    transition: all linear .3s;
}
.hovers:hover .img_submain{
    background-color: #5bc5f4;
       transition: all linear .3s;
}
.hovers:hover .img_main{
    background-color:  #5bc5f4;
       transition: all linear .3s;
}

.teamnew_cont{
        margin: 50px 0px;
}
.portfolio_cont{
    margin: 50px 0px;
}

.portfolio_cont h2{
     font-family: 'Oswald', sans-serif;
    padding-bottom: 13px;
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
  position: relative;
   
}
.portfolio_cont h2:after{
    position: absolute;
    content: "";
    top: 0;
    left: -92px;
    bottom: -38px;
    right: 0;
    margin: auto;
    width: 40px;
    height: 2px;
    background-color: #0872B9;
}
.portfolio_cont h2:before{
position: absolute;
    content: "";
    top: 0;
    left: -35px;
    bottom: -38px;
    right: 0;
    margin: auto;
    width: 9px;
    height: 2px;
    background-color: #0872B9;
}
.portfolio_cont h2 span:after{
    position: absolute;
    content: "";
    top: 0;
    left: -12px;
    bottom: -38px;
    right: 0;
    margin: auto;
    width: 6px;
    height: 2px;
    background-color: #0872B9;
}
.portfolio_cont h2 span:before{
    position: absolute;
    content: "\f5a3";
    font-family: "Font Awesome 5 Brands";
    font-weight: 400;
    top: 0;
    left: 180px;
    bottom: 55px;
    right: 0;
    margin: auto;
    width: 6px;
    height: 2px;
    color: #0872B9;
    font-size: 34px;
}

.team_content{
    text-align: center;
    
}
.team_content h2{
     font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 8px 0px;
}
.team_content p{
    font-family: 'Oswald', sans-serif;
   font-size: 14px; 
}
.new{
    background-color: #F1F1F1;
}
.teamnew_cont h2{
    font-family: 'Oswald', sans-serif;
    padding-bottom: 13px;
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
    position: relative;
}
.teamnew_cont h2:after{
    position: absolute;
    content: "";
    top: 0;
    left: -52px;
    bottom: -38px;
    right: 0;
    margin: auto;
    width: 40px;
    height: 2px;
    background-color: #0872B9;
}
.teamnew_cont h2:before{
position: absolute;
    content: "";
    top: 0;
    left: 7px;
    bottom: -38px;
    right: 0;
    margin: auto;
    width: 9px;
    height: 2px;
    background-color: #0872B9;
}
.teamnew_cont h2 span:after{
    position: absolute;
    content: "";
    top: 0;
    left: 31px;
    bottom: -38px;
    right: 0;
    margin: auto;
    width: 7px;
    height: 2px;
    background-color: #0872B9;
}
.teamnew_cont h2 span:before{
    position: absolute;
    content: "\f0c0";
    font-family: "Font Awesome 5 free";
    font-weight: 900;
    top: 0;
    left: 128px;
    bottom: 45px;
    right: 0;
    margin: auto;
    width: 6px;
    height: 2px;
    color: #F3A950;
    font-size: 28px;
}
.teamnew_cont h2 span:before :hover{
    background-color:red;
   
}

.img_content{
    position: relative;
}

/*without transform scale part start*/
/*without transform scale part start*/

/*
.overlay_img{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all linear .3s;   
    background-color: transparent;
}
.overlay_img a{
     width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    border-radius: 50%;
    font-size: 20px;
    background-color: transparent;
   display: none;
   

}

.img_content:hover .overlay_img{
    transition: all linear .3s;
    background-color: rgba(0,0,0,.6);
    
}
.overlay_img:hover a{
    background-color:#62c3ed;
    color: white;
    display: block;

 
}
*/
/*without transform scale end*/
/*without transform scale end*/

/*without display part start here*/
/*without display part start here*/

.overlay_img{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
     background-color: rgba(0,0,0,.6);
    transition: all linear .3s;
    
}
.overlay_img a{
     width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    border-radius: 50%;
    font-size: 20px;
    background-color:#63c7f3;
    
   

}

.img_content:hover .overlay_img{
     transform: scale(1);
    transition: all linear .3s;

    
}
.try_again{
    position: relative;
     transition: all linear .3s;

}
.overlay_team{
    height: 100%;
    width: 33.3%;
    top: 0;
    right: 0;
    position: absolute;
     background-color: rgba(0,0,0,.6);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
 
}
.overlay_team ul{
    list-style: none;
}
.overlay_team ul li{
    padding: 7px;
}
.overlay_team ul li a{
     color: white;
    border: 1px solid white;
    width: 40px;
    height: 40px;
    display: block;
    border-radius: 50%;
    line-height: 40px;
    margin-right: 30px;
}
.try_again:hover .overlay_team{
    transform: scale(1);
  transition: all linear .2s;
}
.overlay_team ul li:nth-child(1):hover a{
	background-color:#4B69B1;
    border: 1px solid #4B69B1;
}
.overlay_team ul li:nth-child(2):hover a{
	background-color:#2697CE;
    border: 1px solid #2697CE;
}
.overlay_team ul li:nth-child(3):hover a{
	background-color:#E62B32;
    border: 1px solid #E62B32;
}
.overlay_team ul li:nth-child(4):hover a{
	background-color:#43BBEF;
    border: 1px solid #43BBEF;
}

.padd{
    margin-top: 0px;
}
.try_again:hover{
    box-shadow: 0px 0px 5px gray;
    transition: all linear .3s;
}
/*below hover not working */
.team_content:nth-child(1):hover h2{
	color:#43BBEF;

}
.team_content:nth-child(2):hover h2{
	color:#2697CE;

}
.team_content:nth-child(3):hover h2{
	color:#E62B32;

}
.team_content:nth-child(4):hover h2{
	color:#4B69B1;

}
/*above hover not working */

.team_content:hover .yesnnow2{
color:#4DC274;
}
.team_content:hover .yesnow{
    color: red;
}
.team_content:hover .yesnow3{
    color: #F7605F;
}
.team_content:hover .yesnow4{
    color: #0CF608;
}
.icon_img{
    text-align: center;
    padding: 35px 0px;
}
.icon_content{
    text-align: center;
    background-color: #f1f1f1;
    padding: 22px;
}
.icon_content h2{
    font-size: 16px;
         font-family: 'Oswald', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}
.icon_content h6{
      font-family: 'Oswald', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: 555555;
    line-height: 26px;
}
.icon_content p{
      font-family: 'Oswald', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: 555555;
    line-height: 26px;
}
.iconte{
    position: relative;
}
.iconte img{
    position: absolute;
    top: -62px;
    left: 28px;
    right: 0;
    bottom: 0;
    margin: auto;
}
.testimonial h2{
        font-family: 'Oswald', sans-serif;
    padding-bottom: 13px;
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
    position: relative;
}
.testimonial h2:after{
    position: absolute;
    content: "";
    top: 0;
    left: -78px;
    bottom: -38px;
    right: 0;
    margin: auto;
    width: 40px;
    height: 2px;
    background-color: #0872B9;
}
.testimonial h2:before{
position: absolute;
    content: "";
    top: 0;
    left: -23px;
    bottom: -38px;
    right: 0;
    margin: auto;
    width: 9px;
    height: 2px;
    background-color: #0872B9;
}
.testimonial h2 span:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0px;
    bottom: -38px;
    right: 0;
    margin: auto;
    width: 6px;
    height: 2px;
    background-color: #0872B9;
}
.testimonial h2 span:before{
    position: absolute;
    content: "\f007";
    font-family: "Font Awesome 5 free";
    font-weight: 900;
    top: 0;
    left: 180px;
    bottom: 43px;
    right: 0;
    margin: auto;
    width: 24px;
    height: 1px;
    color: #5BC5F4;
    font-size: 25px;
    
}
#test{
    margin-bottom: 60px;
}

.footer_top{
        color: #f1f1f1;
    padding-top: 25px;
    padding-bottom: 13px;
     background-color: #353535;
}
footer p{
    font-size: 13px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 26px;
}
.foot{

}
.foot img{
    padding-bottom: 25px;
}
.sub_footcontent p{
    display: inline-block;
}
.yes h2{
font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-transform:capitalize;
    margin-bottom: 31px;
}
.yes{
    margin-top: 18px;

}

.sub_foot_img{
text-align: center;
}

.sub_foot_img span{
        width: 41px;
    height: 41px;
    background-color: #5bc5f4;
    display: block;
    line-height: 42px;
    border-radius: 50%;
   margin-top: 5px;

}

.sub_foot_cont{

    padding-bottom: 7px;
}
.sub_foot_cont p{
      font-size: 13px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    color: #f1f1f1;
    line-height: 24px;   
   
}

.third_column a:hover{
    color:#5bc5f4;
}
.left_foot ul li{
list-style: none;
    
}
.left_foot ul li a{
  
    text-decoration: none;
     font-size: 13px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    color: #f1f1f1;
    line-height: 24px;
    text-transform:capitalize;
    padding-bottom: 13px;
    display: block;
}
.left_foot ol,ul {
    padding-left: 0;}
.right_foot ul{
    list-style: none;
}
.right_foot ul li a{
    text-decoration: none;
     font-size: 13px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    color: #f1f1f1;
    line-height: 24px;
    text-transform: capitalize;
    padding-bottom: 13px;
    display: block;
}
.link{
    margin-top: 18px;
}
.link h2{
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-transform:capitalize;
    margin-bottom: 19px;
}
.col4 h2{
        font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-transform:capitalize;
     margin-bottom: 19px;
}
.col4{
      margin-top: 18px;
}
/*
.flicker_photo img:nth-child(2){
    margin:8px 12px;
}
*/

}
.photo img{
    margin-bottom: 20px;
  
}
.footer_bottom{
    background-color: #555555;
    text-align: center;
        color: #f1f1f1;
    padding: 11px 0px;
}
.footer_bottom p{
    font-size: 13px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif; 
}
.footer_bottom a{
    color: #5bc5f4;
}
